<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stock Trading Tracking App</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1>Stock Trading Tracking App</h1>
            <button id="analyze-btn">Analyze Stocks</button>
            <div id="results"></div>
        </div>
        <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    </body>
</html>